@import "tailwindcss";

@theme {
    --color-hot-pink: ##f97316;
    --color-dark-pink: #f97316;
    --color-dark-gray: #1A1A1A;
    /* رمادي غامق جداً للخلفية */
    --color-medium-gray: #2D2D2D;
    /* رمادي للمربعات والحدود */
    --color-deep-black: #000;
}

body {
    @apply bg-dark-gray text-white;
    /* الخلفية أصبحت رمادي غامق والنصوص بيضاء */
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

@layer base {
    ::selection {
      background-color: #f97316; /* لون الـ orange-500 بتاع براند طلباتك */
      color: #000000; /* لون الخط لما يتحدد */
    }
  }